@model ResetPasswordInputModel

@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="@Model.Code" type="hidden" />
            <div class="form-floating mb-3">
                <input asp-for="@Model.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="@Model.Email" class="form-label"></label>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="@Model.Password" class="form-label"></label>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="@Model.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>
