@model BookListingViewModel

@{
    this.ViewData["Count"] = Model.RecordsCount;
    this.ViewData["Title"] = Model.CategoryName;
    this.ViewData["PaginationActionName"] = "All";
    this.ViewData["PaginationControllerName"] = "Book";
}

<partial name="PartialViews/_TitleCardPartial" />

<div>
    <div class="row">
        @foreach (var book in Model.Books)
        {
            <div class="col-md-3 mt-5 mb-4">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                    <div class="card bg-dark text-light h-100">
                        <img title="@book.Title" src="@book.ImageUrl" alt="@book.Title" height="300">
                    </div>
                </a>
            </div>
        }
    </div>
</div>

@if (Model.PagesCount > 1)
{
    <partial name="PartialViews/_PaginationPartial" model="@Model" />
}