@model BookListingViewModel

@{
    this.ViewData["Title"] = "Books";
}

<div class="text-center categoryName col-8">
    <h1 class="display-4 ">@Model.CategoryName</h1>
</div>

<div>
    <div class="row">
        @foreach (var book in Model.Books)
        {
            <div class="col-md-3 mt-5 mb-4">
                <a asp-controller="Book" asp-action="CurrentBook" asp-route-id="@book.Id">
                    <div class="card bg-dark text-light h-100">
                        <img title="@book.Title" class="zoom" src="@book.ImageUrl" alt="Book" height="300">
                    </div>
                </a>
            </div>
        }
    </div>
</div>
@if (Model.BookCount > 0)
{
    <hr />
    <nav id="booksPagination" aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item 
              @if (Model.HasPreviousPage == false) 
              {
                      <text>disabled</text>
              }">
               <a id="previous" class="page-link" asp-action="All" asp-route-categoryName="@Model.CategoryName" asp-route-page="@Model.PreviousPageNumber">Previous</a>
            </li>
            @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item"><a class="page-link" asp-action="All" asp-route-categoryName="@Model.CategoryName" asp-route-page="@i">@i</a></li>
                }
            }
            <li class="page-item active">
                <span class="page-link">
                    @Model.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
            {
                if (i <= Model.PagesCount)
                {
                    <li class="page-item"><a class="page-link" asp-action="All" asp-route-categoryName="@Model.CategoryName" asp-route-page="@i">@i</a></li>
                }
            }
            <li class="page-item @if (Model.HasNextPage == false) {
        <text>disabled</text>
}">
                <a class="page-link" asp-action="All" asp-route-categoryName="@Model.CategoryName" asp-route-page="@Model.NextPageNumber">Next</a>
            </li>
        </ul>
    </nav>
}
