@model BookViewModel

@{
    this.ViewData["Title"] = Model.Title;
    int? userRating = Model.UserRating;
}

<section class="bookSection">
    <div class="card border-dark">
        <div class="card-body">
            <div class="px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4">
                        <img class="card-img-top mb-5 mb-md-0 animate__animated animate__zoomIn img-fluid img-thumbnail" src="@Model.ImageUrl" title="@Model.Title" alt="@Model.Title" />
                        <div class="m-4 text-center">
                            <a asp-controller="Book" asp-action="Download" asp-route-id="@Model.Id" class="btn flex-shrink-0 ">
                                Download<i class="fas fa-download icon"></i>
                            </a>
                        </div>
                        <div class="m-4 text-center">
                            <a asp-controller="FavoriteBook" asp-action="AddToFavorites" asp-route-bookId="@Model.Id" title="Add to Favorites">
                                <i class="fas fa-heart fa-2x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group">
                            <li class="list-group-item bookTitle">
                                @if (Model.Title.Length > 100)
                                {
                                    string title = Model.Title.Substring(0, 100) + "...";
                                    @title
                                }
                                else
                                {
                                    @Model.Title
                                }
                            </li>
                            @if (@Model.PublisherName != null)
                            {
                                <li class="list-group-item list-group-item-action">
                                    Publisher: @Model.PublisherName
                                </li>
                            }
                            <li class="list-group-item list-group-item-action">
                                Category: @Model.CategoryName
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Pages: @Model.PagesCount
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Language: @Model.Language
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Downloads: @Model.DownloadsCount
                            </li>

                            <li class="list-group-item list-group-item-action">
                                <dl>
                                    <dt>Authors:</dt>
                                    @foreach (var author in Model.Authors)
                                    {
                                        <dd>- @author</dd>
                                    }
                                </dl>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <span>Average Score: <span id="averageVoteValue">@Model.RatingsAvg.ToString("f1")</span><span>/5</span><span>(Ratings count: <span id="votesCount">@Model.RatingsCount</span>)</span></span>
                            </li>
                        </ul>
                        <div class="text-center">
                            <div class="rating-wrapper" id="customRating">
                                @if (userRating == 1)
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        @if (i == 1)
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }
                                        else
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }
                                    }
                                }
                                else if (userRating == 2)
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        @if (i == 1 || i == 2)
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }
                                        else
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }

                                    }
                                }
                                else if (userRating == 3)
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        @if (i == 1 || i == 2 || i == 3)
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }
                                        else
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }

                                    }
                                }
                                else if (userRating == 4)
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        @if (i == 1 || i == 2 || i == 3 || i == 4)
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }
                                        else
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }

                                    }
                                }
                                else if (userRating == 5)
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }
                                }
                                else
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary col-md-13 bookDescription">
        <h5 class="card-header">Book Description</h5>
        <div class="card-body">
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</section>
<hr />


<section>
    <div class="text-center textContainer col-4">
        <h1 class="text-center">Comments<i class="fas fa-comment"></i></h1>
    </div>
    <div class="container-fluid mt-100">
        <a asp-controller="Comment" asp-action="Create" asp-route-bookId="@Model.Id" asp-route-bookTitle="@Model.Title" class="btn flex-shrink-0 addCommentBtn">Add Comment</a>
        @foreach (var comment in Model.Comments)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4 commentCard">
                        <div class="card-header commentHeader">
                            <div class="media flex-wrap w-100 align-items-center">
                                <img src=@comment.UserProfilePictureUrl class="d-block ui-w-40 rounded-circle" alt="" style="height:5rem;">
                                <div class="media-body ml-3">
                                    @comment.UserUserName
                                    <span>- @comment.CreatedOn.Date.ToString("d")</span>
                                    <div class="rating">
                                        <!-- Comment Voting -->
                                    <div class="like grow">
                                            <a onclick="sendVote(@comment.Id, true)">
                                                <i id="@comment.Id-like" class="fas fa-thumbs-up fa-2x @(comment.UserVote == 1 ? "liked" : "like")" aria-hidden="true"></i>
                                            </a>
                                            <span id="@comment.Id-up">(@comment.UpVotesCount)</span>
                                        </div>
                                        <div class="dislike grow">
                                            <a onclick="sendVote(@comment.Id, false)">
                                                <i id="@comment.Id-dislike" class="fas fa-thumbs-down fa-2x @(comment.UserVote == -1 ? "liked" : "like")" aria-hidden="true"></i>
                                            </a>
                                            <span id="@comment.Id-down">(@comment.DownVotesCount)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <article>
                                @Html.Raw(comment.SanitizedContent)
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<form method="post" id="antiForgeryForm"></form>
<form method="post" id="votesForm"></form>
@section Scripts{
<script>
        function sendVote(commentId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { commentId: commentId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/vote",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    var upVotes = data.upVotesCount;
                    var downVotes = data.downVotesCount;
                    var commentId = data.commentId;
                    $('#' + commentId + '-up').html('(' + upVotes + ')');
                    $('#' + commentId + '-down').html('(' + downVotes + ')');
                    if(isUpVote){
                        $('#' + commentId + '-like').addClass("liked");
                        $('#' + commentId + '-dislike').removeClass("liked");
                    }else{
                         $('#' + commentId + '-like').removeClass("liked");
                        $('#' + commentId + '-dislike').addClass("liked");
                    }
                }
            });
        }

        $("[data-vote]").each(function(el) {
            $(this).on("click", function () {
                var value = $(this).attr("data-vote");
                var bookId = '@Model.Id';
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { bookId: bookId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Rating",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    contentType: 'application/json',
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                        $('#votesCount').html(data.votesCount);
                        var userVote = data.userVote;
                        if(userVote == 1){
                            $('#1-star-rating').prop('checked', true);
                            $('#2-star-rating').prop('checked', false);
                            $('#3-star-rating').prop('checked', false);
                            $('#4-star-rating').prop('checked', false);
                            $('#5-star-rating').prop('checked', false);
                        }else if(userVote == 2){
                            $('#1-star-rating').prop('checked', true);
                            $('#2-star-rating').prop('checked', true);
                            $('#3-star-rating').prop('checked', false);
                            $('#4-star-rating').prop('checked', false);
                            $('#5-star-rating').prop('checked', false);
                        }else if(userVote == 3){
                            $('#1-star-rating').prop('checked', true);
                            $('#2-star-rating').prop('checked', true);
                            $('#3-star-rating').prop('checked', true);
                            $('#4-star-rating').prop('checked', false);
                            $('#5-star-rating').prop('checked', false);
                        }else if(userVote == 4){
                            $('#1-star-rating').prop('checked', true);
                            $('#2-star-rating').prop('checked', true);
                            $('#3-star-rating').prop('checked', true);
                            $('#4-star-rating').prop('checked', true);
                            $('#5-star-rating').prop('checked', false);
                        }else if(userVote == 5){
                            $('#1-star-rating').prop('checked', true);
                            $('#2-star-rating').prop('checked', true);
                            $('#3-star-rating').prop('checked', true);
                            $('#4-star-rating').prop('checked', true);
                            $('#5-star-rating').prop('checked', true);
                        }
                    }
                });
            })
    });
</script>
}