@model BookViewModel

@{
    this.ViewData["Title"] = Model.Title;
    int? value = Model.UserVote;
}

<section class="bookSection">
    <div class="card border-dark">
        <div class="card-body">
            <div class="px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4">
                        <img class="card-img-top mb-5 mb-md-0 animate__animated animate__zoomIn" src="@Model.ImageUrl" title="@Model.Title" alt="@Model.Title" />
                        <div class="m-4 text-center">
                            <a asp-controller="Book" asp-action="Download" asp-route-id="@Model.Id" class="btn flex-shrink-0 ">
                                Download<i class="fas fa-download icon"></i>
                            </a>
                        </div>
                        <div class="m-4 text-center">
                            <a asp-controller="Book" asp-action="AddToFavorites" asp-route-bookId="@Model.Id" class="btn flex-shrink-0">
                                Add To Favorites<i class="fas fa-plus icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group">
                            <li class="list-group-item bookTitle">
                                @if (Model.Title.Length > 100)
                                {
                                    string title = Model.Title.Substring(0, 100) + "...";
                                    @title
                                }
                                else
                                {
                                    @Model.Title
                                }
                            </li>
                            @if (@Model.Publisher != null)
                            {
                                <li class="list-group-item list-group-item-action">
                                    Publisher: @Model.Publisher
                                </li>
                            }
                            <li class="list-group-item list-group-item-action">
                                Category: @Model.CategoryName
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Pages: @Model.PagesCount
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Language: @Model.Language
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Downloads: @Model.DownloadsCount
                            </li>

                            <li class="list-group-item list-group-item-action">
                                <dl>
                                    <dt>Authors:</dt>
                                    @foreach (var author in Model.Authors)
                                    {
                                        <dd>- @author</dd>
                                    }
                                </dl>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <span>Average Score: <span id="averageVoteValue">@Model.VotesAvg.ToString("f1")</span><span>/5</span><span>(Votes: <span id="votesCount">@Model.VotesCount</span>)</span></span>
                            </li>
                        </ul>
                        <div class="text-center">
                            <div class="rating-wrapper" id="customRating">
                                @if (value == 1)
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        @if (i == 1)
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }
                                        else
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }
                                    }
                                }
                                else if (value == 2)
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        @if (i == 1 || i == 2)
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }
                                        else
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }

                                    }
                                }
                                else if (value == 3)
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        @if (i == 1 || i == 2 || i == 3)
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }
                                        else
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }

                                    }
                                }
                                else if (value == 4)
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        @if (i == 1 || i == 2 || i == 3 || i == 4)
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }
                                        else
                                        {
                                            <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                            <label for="@i-star-rating" class="star-rating">
                                                <i class="fas fa-star d-inline-block"></i>
                                            </label>
                                        }

                                    }
                                }
                                else if (value == 5)
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }
                                }
                                else
                                {
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary col-md-13 bookDescription">
        <h5 class="card-header">Book Description</h5>
        <div class="card-body">
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</section>
<hr />



<section>
    <div class="text-center textContainer col-4">
        <h1 class="text-center">Comments<i class="fas fa-comment"></i></h1>
    </div>
    <div class="container-fluid mt-100">
        <a asp-controller="Comment" asp-action="Create" asp-route-bookId="@Model.Id" asp-route-bookTitle="@Model.Title" class="btn flex-shrink-0 addCommentBtn">Add Comment</a>
        @foreach (var comment in Model.Comments)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4 commentCard">
                        <div class="card-header commentHeader">
                            <div class="media flex-wrap w-100 align-items-center">
                                <img src=@comment.UserProfilePictureUrl class="d-block ui-w-40 rounded-circle" alt="" style="height:5rem;">
                                <div class="media-body ml-3">
                                    @comment.UserUserName
                                    <span>- @comment.CreatedOn.Date.ToString("d")</span>
                                    <div class="text-muted small">
                                        <time datetime="@comment.CreatedOn.ToString("O")"></time>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <article>
                                @Html.Raw(comment.SanitizedContent)
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<form method="post" id="antiForgeryForm"></form>
@section Scripts{
<script>
        $("[data-vote]").each(function(el) {
            $(this).on("click", function () {
                var value = $(this).attr("data-vote");
                var bookId = '@Model.Id';
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { bookId: bookId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Vote",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    contentType: 'application/json',
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                        $('#votesCount').html(data.votesCount);
                        var userVote = data.userVote;
                        if(userVote == 1){
                            $('#1-star-rating').prop('checked', true);
                            $('#2-star-rating').prop('checked', false);
                            $('#3-star-rating').prop('checked', false);
                            $('#4-star-rating').prop('checked', false);
                            $('#5-star-rating').prop('checked', false);
                        }else if(userVote == 2){
                            $('#1-star-rating').prop('checked', true);
                            $('#2-star-rating').prop('checked', true);
                            $('#3-star-rating').prop('checked', false);
                            $('#4-star-rating').prop('checked', false);
                            $('#5-star-rating').prop('checked', false);
                        }else if(userVote == 3){
                            $('#1-star-rating').prop('checked', true);
                            $('#2-star-rating').prop('checked', true);
                            $('#3-star-rating').prop('checked', true);
                            $('#4-star-rating').prop('checked', false);
                            $('#5-star-rating').prop('checked', false);
                        }else if(userVote == 4){
                            $('#1-star-rating').prop('checked', true);
                            $('#2-star-rating').prop('checked', true);
                            $('#3-star-rating').prop('checked', true);
                            $('#4-star-rating').prop('checked', true);
                            $('#5-star-rating').prop('checked', false);
                        }else if(userVote == 5){
                            $('#1-star-rating').prop('checked', true);
                            $('#2-star-rating').prop('checked', true);
                            $('#3-star-rating').prop('checked', true);
                            $('#4-star-rating').prop('checked', true);
                            $('#5-star-rating').prop('checked', true);
                        }else{

                        }
                    }
                });
            })
    });
</script>
}