@model BookViewModel

@{
    this.ViewData["Title"] = Model.Title;
    int? value = Model.UserVote;
}

<section class="bookSection">
    <div class="card border-dark">
        <div class="card-body ">
            <div class="px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4">
                        <img class="card-img-top mb-5 mb-md-0 animate__animated animate__zoomIn" src="@Model.ImageUrl" title="@Model.Title" alt="@Model.Title" />
                        <div class="m-4 text-center">
                            <a asp-controller="Book" asp-action="Download" asp-route-id="@Model.Id" class="btn flex-shrink-0 ">
                                Download<i class="fas fa-download icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        @if (Model.Title.Length > 100)
                        {
                            string title = Model.Title.Substring(0, 100) + "...";
                            <h1 class="display-5">@title</h1>
                        }
                        else
                        {
                            <h1 class="display-5">@Model.Title</h1>
                        }
                        <div class="fs-5 mb-5">
                            <h3><i>Category:</i> @Model.CategoryName</h3>
                            @if (Model.Publisher != null)
                            {
                                <h3><i>Publisher:</i> @Model.Publisher</h3>
                            }
                            <h3><i>Pages:</i> @Model.PagesCount</h3>
                            <h3><i>Language:</i> @Model.Language</h3>
                            <h3><i>Downloads:</i> @Model.DownloadsCount</h3>
                            @foreach (var author in Model.Authors)
                            {
                                <h3><i>Author:</i> @author</h3>
                            }
                            <h3><span>Average Score: <span id="averageVoteValue">@Model.VotesAvg.ToString("f1")</span><span>/5</span></span></h3>
                            <h3>Votes Count: @Model.VotesCount</h3>
                        </div>

                        <div class="rating-wrapper">
                            @if (value == 1)
                            {
                                @for (int i = 5; i >= 1; i--)
                                {
                                    @if (i == 1)
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }
                                    else
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }
                                }
                            }
                            else if (value == 2)
                            {
                                @for (int i = 5; i >= 1; i--)
                                {
                                    @if (i == 1 || i == 2)
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }
                                    else
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }

                                }
                            }
                            else if (value == 3)
                            {
                                @for (int i = 5; i >= 1; i--)
                                {
                                    @if (i == 1 || i == 2 || i == 3)
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }
                                    else
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }

                                }
                            }
                            else if (value == 4)
                            {
                                @for (int i = 5; i >= 1; i--)
                                {
                                    @if (i == 1 || i == 2 || i == 3 || i == 4)
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }
                                    else
                                    {
                                        <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i">
                                        <label for="@i-star-rating" class="star-rating">
                                            <i class="fas fa-star d-inline-block"></i>
                                        </label>
                                    }

                                }
                            }
                            else
                            {
                                @for (int i = 5; i >= 1; i--)
                                {

                                    <input class="starInput" type="checkbox" id="@i-star-rating" name="star-rating" value="@i" data-vote="@i" checked>
                                    <label for="@i-star-rating" class="star-rating">
                                        <i class="fas fa-star d-inline-block"></i>
                                    </label>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary col-md-13 bookDescription">
        <h5 class="card-header">Book Description</h5>
        <div class="card-body">
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</section>
<form method="post" id="antiForgeryForm"></form>
@section Scripts{
<script>
            $("[data-vote]").each(function(el) {
                $(this).click(function () {
                    var value = $(this).attr("data-vote");
                    var bookId = '@Model.Id';
                    var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                    var data = { bookId: bookId, value: value };
                    $.ajax({
                        type: "POST",
                        url: "/api/Vote",
                        data: JSON.stringify(data),
                        headers: {
                            'X-CSRF-TOKEN': antiForgeryToken
                        },
                        success: function (data) {
                            $('#averageVoteValue').html(data.averageVote.toFixed(1));
                            var userVote = data.userVote;
                            if(userVote == 1){
                                $('#1-star-rating').prop('checked', true);
                                $('#2-star-rating').prop('checked', false);
                                $('#3-star-rating').prop('checked', false);
                                $('#4-star-rating').prop('checked', false);
                                $('#5-star-rating').prop('checked', false);
                            }else if(userVote == 2){
                                $('#1-star-rating').prop('checked', true);
                                $('#2-star-rating').prop('checked', true);
                                $('#3-star-rating').prop('checked', false);
                                $('#4-star-rating').prop('checked', false);
                                $('#5-star-rating').prop('checked', false);
                            }else if(userVote == 3){
                                $('#1-star-rating').prop('checked', true);
                                $('#2-star-rating').prop('checked', true);
                                $('#3-star-rating').prop('checked', true);
                                $('#4-star-rating').prop('checked', false);
                                $('#5-star-rating').prop('checked', false);
                            }else if(userVote == 4){
                                $('#1-star-rating').prop('checked', true);
                                $('#2-star-rating').prop('checked', true);
                                $('#3-star-rating').prop('checked', true);
                                $('#4-star-rating').prop('checked', true);
                                $('#5-star-rating').prop('checked', false);
                            }else{
                                $('#1-star-rating').prop('checked', true);
                                $('#2-star-rating').prop('checked', true);
                                $('#3-star-rating').prop('checked', true);
                                $('#4-star-rating').prop('checked', true);
                                $('#5-star-rating').prop('checked', true);
                            }
                        },
                        contentType: 'application/json',
                    });
                })
        });
</script>
}