@model BookViewModel

@{
    this.ViewData["Title"] = Model.Title;
}

<div class="d-flex justify-content-center mt-5 gap-5 align-items-center">
    <img class="w-25 rounded-3" src=@Model.ImageUrl alt=@Model.Title />
    <ul class="list-group w-75 fs-5 rounded">
        <li class="list-group-item"><strong>@Model.Title</strong></li>
        @if (Model.PublisherName != null)
        {
            <li class="list-group-item">Publisher: @Model.PublisherName</li>
        }
        <li class="list-group-item">
            Category: <a asp-controller="Book" asp-action="All" asp-route-categoryName="@Model.CategoryName">@Model.CategoryName</a>
        </li>
        <li class="list-group-item">Pages: @Model.PagesCount</li>
        <li class="list-group-item">Language: @Model.Language</li>
        <li class="list-group-item">Downloads: @Model.DownloadsCount</li>
        <li class="list-group-item">Comments: @Model.Comments.Count()</li>
        <li class="list-group-item">
            <span>Average Score: <span>@Model.RatingsAvg.ToString("f1")</span><span>/5</span><span>(Ratings count: <span>@Model.RatingsCount</span>)</span></span>
        </li>
        <li class="list-group-item">
            <dl>
                <dt>Authors:</dt>
                @foreach (var author in Model.Authors)
                {
                    <dd>- @author</dd>
                }
            </dl>
        </li>
    </ul>
</div>
<div class="mt-5 d-flex justify-content-evenly">
    <a class="btn btn-lg button" asp-controller="Book" asp-action="Download" asp-route-id="@Model.Id">
        Download<i class="fas fa-download icon ms-2"></i>
    </a>
    <a class="btn btn-lg button" asp-controller="Comment" asp-action="Create" asp-route-bookId="@Model.Id" asp-route-bookTitle=@Model.Title>
        Post Comment<i class="fa-solid fa-comment ms-2"></i>
    </a>
</div>
<div class="card border-secondary my-5">
    <h5 class="card-header">Book Description</h5>
    <div class="card-body">
        <p class="card-text">@Html.Raw(Model.SanitizedDescription)</p>
    </div>
</div>

<form method="post" id="antiForgeryForm"></form>
<form method="post" id="votesForm"></form>
<form method="post" id="favoriteBookForm"></form>