@model BookViewModel

@{
    this.ViewData["Title"] = Model.Title;
}

<section class="bookDetailsInfoSection">
    <div>
        <img class="img-fluid" src=@Model.ImageUrl alt=@Model.Title />
    </div>
    <ul class="list-group">
        <li class="list-group-item"><strong>@Model.Title</strong></li>
        @if (Model.PublisherName != null)
        {
            <li class="list-group-item">Publisher: @Model.PublisherName</li>
        }
        <li class="list-group-item">
            Category:
            <a asp-controller="Book"
               asp-action="All"
               asp-route-categoryName="@Model.CategoryName">
                @Model.CategoryName
            </a>
        </li>
        <li class="list-group-item">Pages: @Model.PagesCount</li>
        <li class="list-group-item">Language: @Model.Language</li>
        <li class="list-group-item">Downloads: @Model.DownloadsCount</li>
        @if (Model.Comments?.Count() > 0)
        {
            <li class="list-group-item">Comments: @Model.Comments.Count()</li>
        }
        else
        {
            <li class="list-group-item">Comments: 0</li>
        }
        <li class="list-group-item">
            <span>
                Average Score: <span>@Model.RatingsAvg.ToString("f1")</span>
                <span>/5</span>
                <span>(Ratings count: <span>@Model.RatingsCount</span>)</span>
            </span>
        </li>
        <li class="list-group-item">
            <dl>
                <dt>Authors:</dt>
                @foreach (var author in Model.Authors)
                {
                    <dd>- @author</dd>
                }
            </dl>
        </li>
    </ul>
</section>

<section class="bookDetailsActionsSection">
    <a class="btn btn-lg button"
       asp-controller="Book"
       asp-action="Download"
       asp-route-id="@Model.Id">
        Download<i class="fas fa-download icon ms-2"></i>
    </a>
</section>

<section class="bookDetailsDescSection">
    <div class="card">
        <div class="card-header">
            Book Description
        </div>
        <div class="card-body">
            <p class="card-text">@Html.Raw(Model.SanitizedDescription)</p>
        </div>
    </div>
</section>

<section class="bookDetailsCommentsSection">
    <div class="formContainer">
        <form method="post" asp-controller="Comment" asp-action="Post">
            <input type="hidden" asp-for="PostComment.BookId" value="@Model.Id" />
            <div class="form-group">
                <textarea asp-for="PostComment.Content" class="form-control" rows="15"></textarea>
                <span asp-validation-for="PostComment.Content" class="text-danger"></span>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="button btn btn-lg">Post Comment</button>
            </div>
        </form>
    </div>
    @if (Model.Comments?.Count() > 0)
    {
        <section class="commentsSection">
            <h2>Comments: @Model.Comments.Count()</h2>
            @foreach (var comment in Model.Comments)
            {
                <div class="modal fade"
                     id="exampleModal"
                     tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Comment</h1>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete your comment?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <a asp-controller="Comment"
                                   asp-action="Delete"
                                   asp-route-commentId=@comment.Id
                                   asp-route-bookId=@Model.Id
                                   type="button"
                                   class="btn btn-danger">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="card">
                    <div class="card-header">
                        <span>Posted by - @comment.UserUserName</span>
                        @if (this.User.Identity.Name == comment.UserUserName)
                        {
                            <div>
                                <button class="btn btn-lg btn-danger"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    Delete
                                </button>
                                <button class="btn btn-lg btn-warning">Edit</button>
                            </div>
                        }
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Html.Raw(@comment.SanitizedContent)</p>
                    </div>
                </article>
            }
        </section>
    }
</section>



@section Scripts {
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: "image table link code wordcount lists preview searchreplace"
        });
    </script>
}