@model EditBookFormModel

@{
    this.ViewData["Title"] = "Edit Book";
    this.ViewData["Icon-Class"] = "fa-book";
}

<partial name="PartialViews/_TitleCardPartial" />

<section class="editBookSection">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.Id" value="@Model.Id">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Title"><strong>Title</strong></label>
            <input asp-for="Title" value="@Model.Title" type="text" class="form-control">
            <span asp-validation-for="Title" class="small text-danger"></span>
        </div>

        <div class="form-group mt-4">
            <label asp-for="LanguageId"><strong>Select Language</strong></label>
            <select asp-for="LanguageId" size="10" aria-label="size 5 select example" class="form-select form-control">
                @foreach (var language in Model.Languages)
                {
                    <option value=@language.Id>@language.Name</option>
                }
            </select>
        </div>

        <div class="form-group mt-4">
            <label asp-for="PagesCount"><strong>Number of Pages</strong></label>
            <input asp-for="PagesCount" value="@Model.PagesCount" type="number" min="5" class="form-control">
            <span asp-validation-for="PagesCount" class="small text-danger"></span>
        </div>

        <div class="form-group mt-4">
            <label asp-for="CategoryId"><strong>Select Category</strong></label>
            <select asp-for="CategoryId" size="10" aria-label="size 5 select example" class="form-select form-control">
                @foreach (var category in Model.Categories)
                {
                    <option value=@category.Id>@category.Name</option>
                }
            </select>
        </div>

        <div class="form-group mt-4">
            <label asp-for="PublishedYear"><strong>Year</strong></label>
            <input asp-for="PublishedYear" value="@Model.PublishedYear" type="number" class="form-control">
            <span asp-validation-for="PublishedYear" class="small text-danger"></span>
        </div>

        <div class="form-group mt-4">
            <label asp-for="Publisher"><strong>Publisher(optional)</strong></label>
            <input asp-for="Publisher" value="@Model.Publisher" type="text" class="form-control">
            <span asp-validation-for="Publisher" class="small text-danger"></span>
        </div>

        <div class="mt-4" id="authorsContainer" data-index="0">
            <div id="alert-message"></div>
            <button type="button"
                    id="addAuthorBtn"
                    class="btn button fs-5 w-100">
                Add Author
                <i class="fa-solid fa-square-plus ms-2 fa-xl"></i>
            </button>

            
            @for (int i = 0; i < Model.Authors?.Count; i++)
            {
                <div class="input-group mt-4">
                    <input asp-for="@Model.Authors[i].Id" type="hidden" />
                    <input asp-for="@Model.Authors[i].Name"
                           type="text"
                           class="form-control"
                           placeholder="Author's username"
                           aria-label="Author's username"
                           aria-describedby="button-addon2">
                    <button onclick="removeAuthor(event)" class="btn btn-danger" type="button">
                        Remove
                    </button>
                </div>
            }
        </div>

        <div class="form-group mt-4">
            <label asp-for="Description"><strong>Description</strong></label>
            <textarea asp-for="Description" class="form-control" rows="12"></textarea>
            <span asp-validation-for="Description" class="small text-danger"></span>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn button btn-lg">
                <strong>Edit Book<i class="fa fa-pen-to-square ms-2"></i></strong>
            </button>
        </div>
    </form>
</section>




@section Scripts {
    <script>
        function removeAuthor(e) {
            let authorsContainer = document.getElementById('authorsContainer');
            let authorsCount = authorsContainer.childElementCount - 2;
            event.target.parentElement.remove();

            const hiddenIdInputs = authorsContainer.querySelectorAll('input[type="hidden"]');
            hiddenIdInputs.forEach((input, index) => input.name = `Authors[${index}].Id`);
            const authorsNameInputs = authorsContainer.querySelectorAll('input[type="text"]');
            authorsNameInputs.forEach((input, index) => input.name = `Authors[${index}].Name`);

            if (authorsCount < 5) {
                const addAuthorBtn = document.getElementById('addAuthorBtn');
                addAuthorBtn.disabled = false;
            }
        }
    </script>
    <script src="~/js/authors.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            browser_spellcheck: true,
            contextmenu: false,
            plugins: [
                "code",
                "image",
                "link",
                "lists",
                "preview",
                "searchreplace",
                "table",
                "wordcount"]
        });
    </script>
}