@model UploadBookViewModel

@{
    string title = this.ViewData["Title"].ToString();
    string action = this.ViewData["Action"].ToString();
    var titleCardModel = new TitleCardPartialViewModel { Title = title, IconClass = "fa-book" };
}

@section Styles {
    <link rel="stylesheet" href="~/css/bookUpload.css" asp-append-version="true" />
}

<partial name="PartialViews/_TitleCardPartial" model=titleCardModel />

<section class="uploadBookSection">
    <form id="uploadBookForm"
          asp-controller="Book"
          asp-action="@action"
          method="post"
          enctype="multipart/form-data">

        @if (action == "Edit")
        {
            <input type="hidden" asp-for="@Model.Id" value="@Model.Id">
        }

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" type="text" class="form-control fs-5">
            <span asp-validation-for="Title" class="small text-danger"></span>
        </div>

        <div class="selectContainer">
            <div class="mt-4">
                <label asp-for="LanguageId"></label>
                <select asp-for="LanguageId"
                        size="8"
                        aria-label="size 5 select example"
                        class="fs-5 form-select">
                    <vc:languages selected-language-id="@Model.LanguageId"></vc:languages>
                </select>
                <span asp-validation-for="LanguageId" class="small text-danger"></span>
            </div>
            <div class="mt-4">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId"
                        size="8"
                        aria-label="size 5 select example"
                        class="fs-5 form-select">
                    <vc:categories selected-category-id="@Model.CategoryId"></vc:categories>
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
        </div>

        <div class="mt-4">
            <label asp-for="PagesCount"></label>
            <input asp-for="PagesCount" type="number" class="form-control fs-5">
            <span asp-validation-for="PagesCount" class="small text-danger"></span>
        </div>

        <div class="mt-4">
            <label asp-for="Year"></label>
            <input asp-for="Year" type="number" class="form-control fs-5">
            <span asp-validation-for="Year" class="small text-danger"></span>
        </div>

        <div class="mt-4">
            <label asp-for="Publisher"></label>
            <input asp-for="Publisher" type="text" class="form-control fs-5">
            <span asp-validation-for="Publisher" class="small text-danger"></span>
        </div>

        <div class="mt-4">
            <label asp-for="BookFile" class="form-label"></label>
            <input asp-for="BookFile" type="file" class="form-control fs-5">
            <span asp-validation-for="BookFile" class="small text-danger"></span>
        </div>

        <div class="mt-4">
            <label asp-for="ImageFile" class="form-label"></label>
            <input asp-for="ImageFile" type="file" class="form-control fs-5">
            <span asp-validation-for="ImageFile" class="small text-danger"></span>
        </div>

        <div class="mt-4" id="authorsContainer" data-index="0">
            <button type="button" id="addAuthorBtn" class="btn">
                Author<i class="fa-solid fa-square-plus ms-2 fa-xl"></i>
            </button>
            @if (action == "Edit")
            {
                @for (int i = 0; i < Model.Authors.Count(); i++)
                {
                    <div class="authorContainer">
                        <div class="input-group mt-4">
                            <input asp-for="@Model.Authors[i].Name"
                                   type="text"
                                   class="form-control border-2 border-dark fs-5"
                                   placeholder="Author's username"
                                   aria-label="Author's username"
                                   aria-describedby="button-addon2">
                            <button onclick="onRemoveAuthorBtnClick(event)"
                                    class="btn btn-danger border-2 border-dark"
                                    type="button">
                                Remove
                            </button>
                        </div>
                        <span asp-validation-for="@Model.Authors[i].Name" class="small text-danger"></span>
                    </div>
                }
            }
        </div>

        <div class="mt-4">
            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="small text-danger"></span>
        </div>

        <div class="text-center my-4">
            <button type="submit" class="btn fs-5">
                @title
                <i class="fa-solid @(action == "Edit" ? "fa-pen-to-square" : "fa-upload") ms-2"></i>
            </button>
        </div>
    </form>
</section>


@section Scripts {
    <script src="~/js/authors.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            placeholder: 'Type book description here...',
            plugins: "code wordcount lists preview searchreplace",
            content_style: 'body { font-size: 14pt;}',
        });
    </script>
}