@model BookListingViewModel

@{
    this.ViewData["Title"] = "My Books";
    this.ViewData["Count"] = Model.RecordsCount;
}

@section Styles {
    <link rel="stylesheet" href="~/css/bookAll.css" asp-append-version="true" />
}

<partial name="PartialViews/_TitleCardPartial" />

@if (Model.RecordsCount > 0)
{
    <input type="hidden" id="isForUserBooks" value="true" />

    <partial name="PartialViews/_BooksSearchInputPartial" />

    <section class="booksSection">
        @foreach (var book in Model.Books)
        {
            <div>
                <a asp-controller="Book"
                   asp-action="Details"
                   asp-route-id="@book.Id">
                    <img title="@book.Title"
                         src="@book.ImageUrl"
                         alt="@book.Title"
                         height="300"
                         class="imageZoom">
                </a>
            </div>
        }
    </section>

    @if (Model.PagesCount > 1)
    {
        <partial name="PartialViews/_PaginationPartial" model="@Model" />
    }
}
else
{
    <h3 class="text-center mt-5 display-3">You haven't uploaded any books yet!</h3>
    <h5 class="text-center mt-5 display-5">
        Want to change that?
        <a asp-controller="Book" asp-action="Upload">
            Click here!
        </a>
    </h5>
}

@section Scripts {
    <script type="module" src="~/js/books.js"></script>
}