@{
    string buttonAction = ViewData["Title"] as string;
}

@if (Model.Quotes.Count == 0)
{
    <h3 class="text-center pt-5 display-3">
        @if (buttonAction == "Approved Quotes")
        {
            <text>There are no approved quotes!</text>
        }
        else if (buttonAction == "Unapproved Quotes")
        {
            <text>There are no unapproved quotes!</text>
        }
        else if (buttonAction == "Deleted Quotes")
        {
            <text>There are no deleted quotes!</text>
        }
    </h3>
}
else
{
    <h3 class="text-center pt-5 display-4">
        @if (buttonAction == "Approved Quotes")
        {
            <text>Manage approved quotes!</text>
        }
        else if (buttonAction == "Unapproved Quotes")
        {
            <text>Manage unapproved quotes!</text>
        }
        else if (buttonAction == "Deleted Quotes")
        {
            <text>Manage deleted quotes!</text>
        }
    </h3>
    <table class="table table-hover table-striped table-dark table-bordered table-responsive" id="dataTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Quote</th>
                <th class="text-center" scope="col">Author</th>
                <th class="text-center" scope="col">Book</th>
                <th class="text-center" scope="col">Movie</th>
                @if (buttonAction == "Approved Quotes")
                {
                    <th class="text-center" scope="col">Unapprove</th>
                }
                else if (buttonAction == "Unapproved Quotes")
                {
                    <th class="text-center" scope="col">Approve</th>
                    <th class="text-center" scope="col">Delete</th>
                }
                else if (buttonAction == "Deleted Quotes")
                {
                    <th class="text-center" scope="col">Undelete</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i <= Model.Quotes.Count - 1; i++)
            {
                <tr>
                    <td scope="row" class="text-center align-middle">@(i + 1)</td>
                    <td class="align-middle">@Model.Quotes[i].Content</td>
                    @if (Model.Quotes[i].AuthorName != null)
                    {
                        <td class="text-center align-middle">@Model.Quotes[i].AuthorName</td>
                    }
                    else
                    {
                        <td class="text-center align-middle"><i class="fa-solid fa-minus fa-xl"></i></td>
                    }
                    @if (Model.Quotes[i].BookTitle != null)
                    {
                        <td class="text-center align-middle">@Model.Quotes[i].BookTitle</td>
                    }
                    else
                    {
                        <td class="text-center  align-middle"><i class="fa-solid fa-minus fa-xl"></i></td>
                    }
                    @if (Model.Quotes[i].MovieTitle != null)
                    {
                        <td class="text-center  align-middle">@Model.Quotes[i].MovieTitle</td>
                    }
                    else
                    {
                        <td class="text-center align-middle"><i class="fa-solid fa-minus fa-xl"></i></td>
                    }


                    @if (buttonAction == "Approved Quotes")
                    {
                        <td class="text-center align-middle">
                            <button onclick="onModalBtnClick(@Model.Quotes[i].Id, 'approvedQuoteIdInput')"
                                    class="btn btn-danger modalBtn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#unapproveQuoteModal">
                                <i class="fa-solid fa-circle-xmark fa-xl"></i>
                            </button>
                        </td>
                    }
                    else if (buttonAction == "Unapproved Quotes")
                    {
                        <td class="text-center align-middle">
                            <button onclick="onModalBtnClick(@Model.Quotes[i].Id, 'approveQuoteIdInput')"
                                    class="btn btn-success modalBtn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#approveQuoteModal">
                                <i class="fa-solid fa-circle-check fa-xl px-2"></i>
                            </button>
                        </td>
                        <td class="text-center align-middle">
                            <button onclick="onModalBtnClick(@Model.Quotes[i].Id, 'deleteQuoteIdInput')"
                                    class="btn btn-danger modalBtn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteQuoteModal">
                                <i class="fa-solid fa-trash-can fa-xl px-2"></i>
                            </button>
                        </td>
                    }
                    else if (buttonAction == "Deleted Quotes")
                    {
                        <td class="text-center align-middle">
                            <button onclick="onModalBtnClick(@Model.Quotes[i].Id, 'deletedQuoteIdInput')"
                                    class="btn btn-danger modalBtn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#undeleteQuoteModal">
                                <i class="fa-solid fa-trash-can-arrow-up fa-xl px-2"></i>
                            </button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}