@model TitleCardPartialViewModel

<div class="d-flex justify-content-center mt-5">
    <div class="card title-card">
        <div class="card-body">
            @if (Model.Count != null)
            {
                <h3>@Model.Title (@Model.Count)</h3>
            }
            else if(Model.IconClass != null)
            {
                <h3>@Model.Title<i class="fas @Model.IconClass icon ms-3"></i></h3>
            }
            else
            {
                <h3>@Model.Title</h3>
            }
        </div>
    </div>
</div>