@model ChangePasswordInputModel

<section class="accountLayoutSection">
    <form method="post">
        <h3 class="text-center text-white mb-3">Change your password</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="@Model.OldPassword"
                   class="form-control"
                   aria-required="true"
                   placeholder="Please enter your old password." />
            <label asp-for="@Model.OldPassword" class="form-label"></label>
            <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="@Model.NewPassword"
                   class="form-control"
                   aria-required="true"
                   placeholder="Please enter your new password." />
            <label asp-for="@Model.NewPassword" class="form-label"></label>
            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="@Model.ConfirmPassword"
                   class="form-control"
                   aria-required="true"
                   placeholder="Please confirm your new password." />
            <label asp-for="@Model.ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg">Update password</button>
    </form>
</section>
