@model SetPasswordInputModel

<section class="accountLayoutSection">
    <form method="post">
        <h3 class="text-white text-center">Set your password</h3>
        <div class="mb-3">
            <p class="text-white text-center">You do not have a local username/password for this site.</p>
            <p class="text-white text-center">Add a local account so you can log in without an external login.</p>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="@Model.NewPassword" class="form-control" autocomplete="new-password" placeholder="Please enter your new password." />
            <label asp-for="@Model.NewPassword" class="form-label"></label>
            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Please confirm your new password." />
            <label asp-for="@Model.ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg">Set password</button>
    </form>
</section>