@model UploadQuoteViewModel

@{
    this.ViewData["Title"] = "Edit Quote";

    var titleCardModel = new TitleCardPartialViewModel
            {
                Title = "Edit Quote",
                IconClass = "fas fa-pen icon ms-3"
            };
}

<partial name="PartialViews/_TitleCardPartial" model=titleCardModel />

<section class="editQuoteSection d-flex justify-content-center py-4">

    <form asp-controller="Quote" asp-action="Edit" class="w-50 fs-5 p-3 rounded-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
        @if (Model.Type == QuoteType.GeneralQuote)
        {
            <input type="hidden" asp-for="@Model.Type" value="@QuoteType.GeneralQuote" />
            <div class="form-group justify-content-center">
                <label class="text-white" asp-for="@Model.Content">Content</label>
                <textarea asp-for="@Model.Content" class="form-control fs-4" rows="3"></textarea>
            </div>
            <div class="form-group my-3">
                <label class="text-white" asp-for="@Model.AuthorName">Author's Name</label>
                <input value="@Model.AuthorName" asp-for="@Model.AuthorName" type="text" class="form-control fs-4">
            </div>
        }
        else if (Model.Type == QuoteType.BookQuote)
        {
            <input type="hidden" asp-for="@Model.Type" value="@QuoteType.BookQuote" />
            <div class="form-group justify-content-center">
                <label class="text-white" asp-for="@Model.Content">Content</label>
                <textarea asp-for="@Model.Content" class="form-control fs-4" rows="3"></textarea>
            </div>
            <div class="form-group my-3">
                <label class="text-white" asp-for="@Model.BookTitle">Book Title</label>
                <input asp-for="@Model.BookTitle" value="@Model.BookTitle" type="text" class="form-control fs-4">
            </div>
            <div class="form-group">
                <label class="text-white" asp-for="@Model.AuthorName">Author's Name</label>
                <input value="@Model.AuthorName" asp-for="@Model.AuthorName" type="text" class="form-control fs-4">
            </div>
        }
        else if (Model.Type == QuoteType.MovieQuote)
        {
            <input type="hidden" asp-for="@Model.Type" value="@QuoteType.MovieQuote" />
            <div class="form-group justify-content-center">
                <label class="text-white" asp-for="@Model.Content">Content</label>
                <textarea asp-for="@Model.Content" class="form-control fs-4" rows="3"></textarea>
            </div>
            <div class="form-group my-3">
                <label class="text-white" asp-for="@Model.MovieTitle">Movie Title</label>
                <input asp-for="@Model.MovieTitle" value="@Model.MovieTitle" type="text" class="form-control fs-4">
            </div>
        }
        <div class="text-center mt-3">
            <button type="submit" class="btn fs-4 px-5">
                Edit<i class="fa fa-square-pen ms-2 fs-4"></i>
            </button>
        </div>
    </form>

</section>

