@model UploadQuoteViewModel

@{
    ViewData["Title"] = "Upload Quote";

    var titleCardModel = new TitleCardPartialViewModel
            {
                Title = "Upload Quote",
                IconClass = "fa-pen"
            };
}

<section class="uploadQuoteSection mx-5">

    <partial name="PartialViews/_TitleCardPartial" model=titleCardModel />

    <div style="border: solid 2px var(--clr-secondary);background-color: var(--clr-primary);" class="quoteContainer d-flex flex-wrap justify-content-evenly align-items-center my-4 rounded-4 p-5">

        <img style="border: solid 2px var(--clr-secondary);" class="w-25 rounded-4" height="400" src="~/images/quote/generalQuote.jpg" />
        <form id="generalQuoteForm" style="border: none;" class="w-50 fs-4" method="post" asp-controller="Quote" asp-action="Upload">
            <input type="hidden" asp-for="@Model.Type" value="@QuoteType.GeneralQuote" />
            <div class="form-group justify-content-center w-100">
                <label class="text-white" asp-for="@Model.Content">Content</label>
                <textarea asp-for="@Model.Content" class="form-control fs-4" rows="6"></textarea>
            </div>
            <div class="form-group my-3">
                <label class="text-white" asp-for="@Model.AuthorName">Author's Name</label>
                <input value="@Model.AuthorName" asp-for="@Model.AuthorName" type="text" class="form-control fs-4">
            </div>
            <div class="text-center">
                <button type="submit" class="btn button fs-4 px-5">
                    Upload General Quote<i class="ms-2 fas fa-upload icon"></i>
                </button>
            </div>
        </form>

    </div>

    <div style="border: solid 2px var(--clr-secondary);background-color: var(--clr-primary);" class="quoteContainer d-flex flex-wrap justify-content-evenly align-items-center my-4 rounded-4 p-5">

        <img style="border: solid 2px var(--clr-secondary);" class="w-25 rounded-4" height="400" src="~/images/quote/movieQuote.jpg" />
        <form class="w-50 fs-4" style="border: none;" id="movieQuoteForm" method="post" asp-controller="Quote" asp-action="Upload">
            <input type="hidden" asp-for="@Model.Type" value="@QuoteType.MovieQuote" />
            <div class="form-group justify-content-center w-100">
                <label class="text-white" asp-for="@Model.Content">Content</label>
                <textarea asp-for="@Model.Content" class="form-control fs-4" rows="6"></textarea>
            </div>
            <div class="form-group my-3">
                <label class="fs-4 text-white" asp-for="@Model.MovieTitle">Movie Title</label>
                <input asp-for="@Model.MovieTitle" value="@Model.MovieTitle" type="text" class="form-control fs-4">
            </div>
            <div class="text-center">
                <button type="submit" class="btn button fs-4 px-5">
                    Upload Movie Quote<i class="ms-2 fas fa-upload icon"></i>
                </button>
            </div>
        </form>

    </div>

    <div style="border: solid 2px var(--clr-secondary);background-color: var(--clr-primary);" class="quoteContainer d-flex flex-wrap justify-content-evenly align-items-center my-4 rounded-4 p-5">

        <img style="border: solid 2px var(--clr-secondary);" class="w-25 rounded-4" height="500" src="~/images/quote/bookQuote.jpg" />
        <form class="w-50 fs-4" style="border: none;" id="bookQuoteForm" method="post" asp-controller="Quote" asp-action="Upload">
            <input type="hidden" asp-for="@Model.Type" value="@QuoteType.BookQuote" />
            <div class="form-group justify-content-center w-100">
                <label class="text-white" asp-for="@Model.Content">Content</label>
                <textarea asp-for="@Model.Content" class="form-control fs-4" rows="6"></textarea>
            </div>
            <div class="form-group my-3">
                <label class="fs-4 text-white" asp-for="@Model.BookTitle">Book Title</label>
                <input asp-for="@Model.BookTitle" value="@Model.BookTitle" type="text" class="form-control fs-4">
            </div>
            <div class="form-group my-3">
                <label class="fs-4 text-white" asp-for="@Model.AuthorName">Author Name</label>
                <input asp-for="@Model.AuthorName" value="@Model.AuthorName" type="text" class="form-control fs-4">
            </div>
            <div class="text-center">
                <button type="submit" class="btn button fs-4 px-5">
                    Upload Book Quote<i class="ms-2 fas fa-upload icon"></i>
                </button>
            </div>
        </form>

    </div>

</section>

@section Scripts {
    <script src="~/js/quote/quoteUpload.js"></script>
}