@model BookDetailsViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    this.ViewData["Title"] = Model.Title;
    string requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
    var commentsCount = Model.CommentsListing.Comments.Count();
}

@section Styles {
    <link rel="stylesheet" href="~/css/book/bookDetails.css" asp-append-version="true" />
}

<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

@* Book Image + Info *@
<section class="bookDetailsInfoSection">
    <div>
        <img class="img-fluid" src=@Model.ImageUrl alt=@Model.Title />
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            @Model.Title
        </li>
        @if (Model.PublisherName != null)
        {
            <li class="list-group-item">Publisher: @Model.PublisherName</li>
        }
        <li class="list-group-item">
            Category:
            <a asp-controller="Book"
               asp-action="All"
               asp-route-category="@Model.CategoryName">
                @Model.CategoryName
            </a>
        </li>
        <li class="list-group-item">Pages: @Model.PagesCount</li>
        <li class="list-group-item">Language: @Model.Language</li>
        <li class="list-group-item">Downloads: @Model.DownloadsCount</li>
        <li class="list-group-item">
            <a href="#comments-section">Comments: @(Model.CommentsListing.RecordsCount > 0 ? Model.CommentsListing.RecordsCount : 0)</a>
        </li>
        <li class="list-group-item">
            Average Rating:
            <span class="bookAvgRating">@Model.RatingsAvg.ToString("f1")</span>
            <span>/5.0</span>
            <span>(Ratings count: <span class="bookRatingsCount">@Model.RatingsCount</span>)</span>
        </li>
        <li class="list-group-item">
            <span> Authors: @string.Join(", ", Model.Authors)</span>
        </li>
        <li class="list-group-item">
            <span>uploaded by - @Model.Username</span>
        </li>
    </ul>
</section>

@* Book Buttons For Download, Delete, Rate and Edit *@
@if (this.User.Identity.IsAuthenticated)
{
    <section class="bookDetailsActionsSection">
        <a class="btn btn-lg button"
           asp-controller="Book"
           asp-action="Download"
           asp-route-id="@Model.Id">
            Download<i class="fas fa-download icon ms-2"></i>
        </a>
        @if (!Model.IsUserBook && Model.IsApproved)
        {
            <button class="btn btn-lg button"
                    data-bs-toggle="modal"
                    data-bs-target="#ratingModal">
                Rate Book<i class="fas fa-star icon ms-2"></i>
            </button>

            <button asp-bookId="@Model.Id"
                    id="addToFavoritesBtn"
                    class="btn btn-lg button">
                Add to Favourites<i class="fas fa-heart icon ms-2"></i>
            </button>
        }
        else if (Model.IsUserBook)
        {
            <a class="btn btn-lg button"
               asp-controller="Book"
               asp-action="Edit"
               asp-route-id="@Model.Id">
                Edit
                <i class="fas fa-user-pen icon ms-2"></i>
            </a>
            <a class="btn btn-lg button"
               data-bs-toggle="modal"
               data-bs-target="#deleteBookModal">
                Delete
                <i class="fas fa-trash-can icon ms-2"></i>
            </a>
        }
    </section>
}

@* Book Description *@
<section class="bookDetailsDescSection">
    <div class="card">
        <div class="card-header">
            Description
        </div>
        <div class="card-body">
            <p class="card-text">@Html.Raw(Model.SanitizedDescription)</p>
        </div>
    </div>
</section>

@if (Model.IsApproved)
{
    <section class="bookDetailsCommentsSection">

        @* Post Comment Form *@
        <div class="formContainer">
            <form method="post" asp-controller="Comment" asp-action="Post">
                <input type="hidden" asp-for="PostComment.BookId" value="@Model.Id" />
                <div class="form-group">
                    <textarea asp-for="PostComment.Content" class="form-control bookComment" rows="15"></textarea>
                    <span asp-validation-for="PostComment.Content" class="text-danger"></span>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="button btn btn-lg">
                        Post Comment<i class="fa-solid fa-comment ms-2"></i>
                    </button>
                </div>
            </form>
        </div>

        @if (commentsCount > 0)
        {
            <partial name="PartialViews/_BookCommentsSectionPartial" model="@Model" />
        }

    </section>
}

<partial name="PartialViews/Modals/_DeleteBookModalPartial" />
<partial name="PartialViews/Modals/_EditCommentModalPartial" />
<partial name="PartialViews/Modals/_DeleteCommentModalPartial" />
<partial name="PartialViews/Modals/_RateBookModalPartial" />

@section Scripts {
    <script>
        const lastLi = document.querySelector('#pagination li:last-child');
        if (lastLi) { new bootstrap.Tooltip(lastLi); }
    </script>
    <script src="~/js/book/vote.js"></script>
    <script src="~/js/book/rating.js"></script>
    <script type="module" src="~/js/comments/comments.js">    </script>
    <script type="module" src="~/js/book/addToFavorites.js"></script>
    <script src="https://cdn.tiny.cloud/1/2inr0ldypeixlug7qi77045mkn5r03rnlkhn1cybt8lacrhq/tinymce/7/tinymce.min.js"
            referrerpolicy="origin">
    </script>
    <script src="~/js/tinyMce.js"></script>
}