@model IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";

    var titleCardModel = new TitleCardPartialViewModel
            {
                Title = $"Welcome to {GlobalConstants.SystemName}!",
                IconClass = "fa fa-book"
            };

    var recentBooksTitleCardModel = new TitleCardPartialViewModel
            {
                Title = "Recent Books",
                IconClass = "fa fa-book"
            };

    var popularBooksTitleCardModel = new TitleCardPartialViewModel
            {
                Title = "Popular Books",
                IconClass = "fa fa-book"
            };
}

<section class="welcomeSection p-3 rounded-3 mx-5 rounded-4">

    <div style="min-height: 30%;" class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center text-white">Welcome to @GlobalConstants.SystemName!</h1>
        <p class="text-center text-white fs-4 w-75 text-center">
            📚 Share your favorite reads with the Bookworm community!
            Easily upload and share books, from classics to contemporary bestsellers, and connect with fellow book lovers.
        </p>
    </div>

    <div style="min-height: 50%;" class="d-flex justify-content-center py-5">
        <div class="card w-75 animate__animated animate__zoomIn animate__faster">
            <div class="card-header fs-4">
                Quote
            </div>
            <div style="background-color: initial; color: black;" class="card-body align-content-center">
                <blockquote class="blockquote">
                    <p class="text-center">@Model.RandomQuote.Content</p>
                    @if (Model.RandomQuote.AuthorName != null)
                    {
                        <footer class="blockquote-footer text-end">
                            @Model.RandomQuote.AuthorName
                        </footer>
                    }
                    @if (Model.RandomQuote.BookTitle != null)
                    {
                        <footer class="blockquote-footer text-end">
                            From the book: @Model.RandomQuote.BookTitle
                        </footer>
                    }
                    @if (Model.RandomQuote.MovieTitle != null)
                    {
                        <footer class="blockquote-footer text-end">
                            From the movie: @Model.RandomQuote.MovieTitle
                        </footer>
                    }
                </blockquote>
            </div>
        </div>
    </div>

    @if (this.User.Identity.IsAuthenticated)
    {
        <div class="d-flex justify-content-center gap-3 py-3">
            <a style="background-color: var(--clr-secondary); min-height: 20%;"
               asp-controller="Book"
               asp-action="Upload"
               class="w-50 rounded-4 fs-3 btn animate__animated animate__zoomIn animate__faster">
                Upload Book<i class="fa fa-book ms-2"></i>
            </a>
            <a style="background-color: var(--clr-secondary); min-height: 20%;"
               asp-controller="Quote"
               asp-action="Upload"
               class="w-50 rounded-4 fs-3 btn animate__animated animate__zoomIn animate__faster">
                Upload Quote<i class="fa fa-square-pen ms-2"></i>
            </a>
        </div>
    }

</section>

<section class="booksSection m-5 px-3 pb-5 rounded-4">

    <partial name="PartialViews/_TitleCardPartial" model=recentBooksTitleCardModel />

    @{
        <div class="d-flex flex-wrap justify-content-center gap-4 mt-4">
            @foreach (var book in Model.RecentBooks)
            {
                <a style="flex-basis: 23%;" asp-controller="Book"
                   asp-action="Details"
                   asp-route-id="@book.Id">

                    <img title="@book.Title"
                         src="@book.ImageUrl"
                         alt="@book.Title"
                         height="350"
                         class="imageZoom w-100 rounded-4">

                </a>
            }
        </div>
    }

</section>

<section class="booksSection m-5 px-3 pb-5 rounded-4">

    <partial name="PartialViews/_TitleCardPartial" model=popularBooksTitleCardModel />

    @{
        <div class="d-flex flex-wrap justify-content-center gap-4 mt-4">
            @foreach (var book in Model.PopularBooks)
            {
                <a style="flex-basis: 23%;" asp-controller="Book"
                   asp-action="Details"
                   asp-route-id="@book.Id">

                    <img title="@book.Title"
                         src="@book.ImageUrl"
                         alt="@book.Title"
                         height="350"
                         class="imageZoom w-100 rounded-4">

                </a>
            }
        </div>
    }

</section>