@model BaseListingViewModel

@{
    var action = this.ViewData["Action"].ToString();
    var controller = this.ViewData["Controller"].ToString();
    var isPaginationForBooksInCategory = (bool)this.ViewData["IsForBooksInCategory"];
}

<nav id="pagination" aria-label="...">
    <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            @if (isPaginationForBooksInCategory)
            {
                <a class="page-link"
                   asp-controller=@controller
                   asp-action=@action
                   asp-route-page="@Model.PreviousPageNumber"
                   asp-route-category=@this.ViewData["Title"]>
                    <i class="fa fa-angles-left"></i>
                </a>
            }
            else
            {
                <a class="page-link"
                   asp-controller=@controller
                   asp-action=@action
                   asp-route-page="@Model.PreviousPageNumber">
                    <i class="fa fa-angles-left"></i>
                </a>
            }
        </li>
        @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item">
                    @if (isPaginationForBooksInCategory)
                    {
                        <a class="page-link"
                           asp-controller=@controller
                           asp-action=@action
                           asp-route-page="@Model.PreviousPageNumber"
                           asp-route-category=@this.ViewData["Title"]>
                            @i
                        </a>
                    }
                    else
                    {
                        <a class="page-link"
                           asp-controller=@controller
                           asp-action=@action
                           asp-route-page="@i">
                            @i
                        </a>
                    }
                </li>
            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item">
                    @if (isPaginationForBooksInCategory)
                    {
                        <a class="page-link"
                           asp-controller=@controller
                           asp-action=@action
                           asp-route-page="@i"
                           asp-route-category=@this.ViewData["Title"]>
                            @i
                        </a>
                    }
                    else
                    {
                        <a class="page-link"
                           asp-controller=@controller
                           asp-action=@action
                           asp-route-page="@i">
                            @i
                        </a>
                    }
                </li>
            }
        }
        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            @if (isPaginationForBooksInCategory)
            {
                <a class="page-link"
                   asp-controller=@controller
                   asp-action=@action
                   asp-route-page="@Model.NextPageNumber"
                   asp-route-category=@this.ViewData["Title"]>
                    <i class="fa fa-angles-right"></i>
                </a>
            }
            else
            {
                <a class="page-link"
                   asp-controller=@controller
                   asp-action=@action
                   asp-route-page="@Model.NextPageNumber">
                    <i class="fa fa-angles-right"></i>
                </a>
            }
        </li>
    </ul>
</nav>
