@model ExternalLoginInputModel

@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <link rel="stylesheet" href="~/css/identity/externalLogin.css" />
}

<section class="externalLoginSection">
    <form method="post"
          asp-controller="Account"
          asp-action="ExternalLoginCallback"
          asp-route-returnUrl="@Model.ReturnUrl">
        <h2 class="text-center text-white mb-3">Associate your @Model.ProviderDisplayName account</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="@Model.UserName"
                   class="form-control"
                   autocomplete="username"
                   placeholder="Please enter your username." />
            <label asp-for="@Model.UserName" class="form-label"></label>
            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="@Model.Email"
                   class="form-control"
                   autocomplete="email"
                   placeholder="Please enter your email." />
            <label asp-for="@Model.Email" class="form-label"></label>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg">Register</button>
    </form>
</section>