@model RegisterViewModel

@{
    this.ViewData["Title"] = "Register";
    this.ViewData["Message"] = "Create an Account";
}

@section Styles {
    <link rel="stylesheet" href="~/css/identity/loginRegister.css" />
}

<div class="loginRegisterContainer">
    <div class="imgContainer">
        <img src="~/images/identity/register.jpg" class="img-fluid" alt="Books Image..." />
    </div>
    <div class="formContainer">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h5 class="text-center text-uppercase text-white fs-2">Register</h5>
            <partial name="PartialViews/_CustomDividerPartial" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="@Model.UserName" class="form-control" placeholder="username" />
                <label asp-for="@Model.UserName"></label>
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.Email" class="form-control mt-3" placeholder="name@example.com" />
                <label asp-for="@Model.Email"></label>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.Password" class="form-control mt-3" placeholder="password" />
                <label asp-for="@Model.Password"></label>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.ConfirmPassword" class="form-control mt-3" placeholder="confirm password" />
                <label asp-for="@Model.ConfirmPassword"></label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group text-center my-4">
                <button type="submit" class="btn btn-lg">Register<i class="fa-solid fa-user-plus ms-2"></i></button>
            </div>
        </form>
        <div class="text-center">
            <a class="form-link"
               asp-area="Account"
               asp-controller="Authentication"
               asp-action="Login"
               asp-route-returnUrl="@Model.ReturnUrl">
                Already have an account? Login!
            </a>
        </div>
    </div>
</div>
