@model BookDetailsViewModel

@{
    var commentsCount = Model.CommentsListing.Comments.Count();
}

<section id="comments-section" class="commentsSection">
    <h2 class="text-white">Comments: @Model.CommentsListing.RecordsCount</h2>
    @if (commentsCount > 1 && this.User.Identity.IsAuthenticated)
    {
        <partial name="PartialViews/_CommentsButtonsPartial" model="@Model.Id" />
    }
    <div class="commentsContainer">
        @foreach (CommentViewModel comment in Model.CommentsListing.Comments)
        {
            <article class="card">
                <div class="card-header">
                    <span>Posted by - @comment.UserUserName</span>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="commentActionsContainer">
                            <div class="arrowsContainer">
                                @if (!comment.IsCommentOwner)
                                {
                                    <i onclick=onUpArrowClick(this)
                                       data-model-id=@comment.Id
                                       class="fas fa-circle-up hover @(comment.UserVoteValue == 1 ? "greenUpArrow" : "")">
                                    </i>

                                    <span>@comment.NetWorth</span>

                                    <i onclick=onDownArrowClick(this)
                                       data-model-id=@comment.Id
                                       class="fas fa-circle-down hover @(comment.UserVoteValue == -1 ? "redDownArrow" : "")">
                                    </i>
                                }
                                else
                                {
                                    <i class="fas fa-circle-up"></i>
                                    <span>@comment.NetWorth</span>
                                    <i class="fas fa-circle-down"></i>
                                }
                            </div>
                            @if (comment.IsCommentOwner || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <div class="btnsContainer">
                                    <button class="btn btn-lg btn-danger modalBtn"
                                            data-model-id=@comment.Id
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            onclick="onDeleteCommentBtnClick(this)">
                                        <i class="fa fa-trash-can"></i>
                                    </button>
                                    <button class="btn btn-lg btn-warning modalBtn"
                                            onclick="onEditCommentBtnClick(this)"
                                            data-model-id=@comment.Id
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal">
                                        <i class="fa fa-square-pen"></i>
                                    </button>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="card-body">
                    @Html.Raw(comment.SanitizedContent)
                </div>
            </article>
        }
    </div>

    @if (Model.CommentsListing.PagesCount > 1)
    {
        <div>
            <nav id="pagination" aria-label="...">
                <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item @(Model.CommentsListing.HasPreviousPage ? "" : "disabled")">
                        <span class="page-link" asp-route-page="@Model.CommentsListing.PreviousPageNumber">
                            <i class="fa fa-angles-left"></i>
                        </span>
                    </li>
                    @for (int i = Model.CommentsListing.PageNumber - 4; i < Model.CommentsListing.PageNumber; i++)
                    {
                        if (i > 0)
                        {
                            <li class="page-item">
                                <span class="page-link" asp-route-page="@i">@i</span>
                            </li>
                        }
                    }
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            @Model.CommentsListing.PageNumber
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    @for (int i = Model.CommentsListing.PageNumber + 1; i <= Model.CommentsListing.PageNumber + 4; i++)
                    {
                        if (i <= Model.CommentsListing.PagesCount)
                        {
                            <li class="page-item">
                                <span class="page-link" asp-route-page="@i">@i</span>
                            </li>
                        }
                    }
                    <li class="page-item @(Model.CommentsListing.HasNextPage ? "" : "disabled")">
                        <span class="page-link" asp-route-page="@Model.CommentsListing.NextPageNumber">
                            <i class="fa fa-angles-right"></i>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    }
</section>