@model BookDetailsViewModel

<section id="comments-section" class="commentsSection">
    <h2 class="text-white text-center">Comments: @Model.CommentsListing.RecordsCount</h2>
    @if (Model.CommentsListing.Comments.Count() > 1 && this.User.Identity.IsAuthenticated)
    {
        <partial name="PartialViews/_CommentsButtonsPartial" model="@Model.Id" />
    }
    <div class="commentsContainer d-flex flex-column justify-content-center align-content-center align-items-center gap-4">
        @foreach (CommentViewModel comment in Model.CommentsListing.Comments)
        {
            <article class="card w-75">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Posted by - @comment.UserUserName</span>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="commentActionsContainer d-flex align-items-center gap-3">
                            <div class="arrowsContainer fs-3">
                                @if (!comment.IsCommentOwner)
                                {
                                    <i onclick=onUpArrowClick(this)
                                       data-model-id=@comment.Id
                                       class="fas fa-circle-up hover @(comment.UserVoteValue == 1 ? "greenUpArrow" : "")">
                                    </i>

                                    <span>@comment.NetWorth</span>

                                    <i onclick=onDownArrowClick(this)
                                       data-model-id=@comment.Id
                                       class="fas fa-circle-down hover @(comment.UserVoteValue == -1 ? "redDownArrow" : "")">
                                    </i>
                                }
                                else
                                {
                                    <i class="fas fa-circle-up"></i>
                                    <span>@comment.NetWorth</span>
                                    <i class="fas fa-circle-down"></i>
                                }
                            </div>
                            @if (comment.IsCommentOwner || this.User.IsInRole(AdministratorRoleName))
                            {
                                <div class="btnsContainer">
                                    <button class="btn btn-danger modalBtn"
                                            data-model-id=@comment.Id
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            onclick="onDeleteCommentBtnClick(this)">
                                        <i class="fa fa-trash-can fs-3"></i>
                                    </button>
                                    <button class="btn btn-warning modalBtn"
                                            onclick="onEditCommentBtnClick(this)"
                                            data-model-id=@comment.Id
                                            data-bs-toggle="modal"
                                            data-bs-target="#editModal">
                                        <i class="fa fa-square-pen fs-3"></i>
                                    </button>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="card-body fs-5">
                    @Html.Raw(comment.SanitizedContent)
                </div>
            </article>
        }
    </div>

    @if (Model.CommentsListing.PagesCount > 1)
    {
       
            <nav class="my-4" id="pagination" bookId="@Model.Id" aria-label="...">
                <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item @(Model.CommentsListing.HasPreviousPage ? "" : "disabled")"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-title="Previous Page"
                        data-bs-custom-class="custom-tooltip">
                        <span class="page-link">
                            <i class="fa fa-angles-left"></i>
                        </span>
                    </li>
                    @for (int i = Model.CommentsListing.PageNumber - 4; i < Model.CommentsListing.PageNumber; i++)
                    {
                        if (i > 0)
                        {
                            <li class="page-item">
                                <span class="page-link" asp-route-page="@i">@i</span>
                            </li>
                        }
                    }
                    <li class="page-item active" aria-current="page">
                        <span class="page-link" asp-route-page="@Model.CommentsListing.PageNumber">@Model.CommentsListing.PageNumber</span>
                    </li>
                    @for (int i = Model.CommentsListing.PageNumber + 1; i <= Model.CommentsListing.PageNumber + 4; i++)
                    {
                        if (i <= Model.CommentsListing.PagesCount)
                        {
                            <li class="page-item">
                                <span class="page-link" asp-route-page="@i">@i</span>
                            </li>
                        }
                    }
                    <li class="page-item @(Model.CommentsListing.HasNextPage ? "" : "disabled")"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-title="Next Page"
                        data-bs-custom-class="custom-tooltip">
                        <span class="page-link">
                            <i class="fa fa-angles-right"></i>
                        </span>
                    </li>
                </ul>
            </nav>
    
    }
</section>