@model BookViewModel

@{
    ViewData["Title"] = $"{Model.Title}";
}

<section class="bookSection" style="margin-bottom:2rem">
    <div class="card border-dark">
        <div class="card-body">
            <div class="px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4">
                        <img class="card-img-top mb-5 mb-md-0 animate__animated animate__zoomIn img-fluid img-thumbnail" src="@Model.ImageUrl" title="@Model.Title" alt="@Model.Title" />
                        <div class="m-4 text-center">
                            <a class="btn btn-primary flex-shrink-0" asp-area="" asp-controller="Book" asp-action="Download" asp-route-id="@Model.Id">
                                Download<i class="fas fa-download icon"></i>
                            </a>
                        </div>
                        <div class="m-4 text-center">
                            <a class="btn btn-success flex-shrink-0" asp-area="admin" asp-controller="Book" asp-action="ApproveBook" asp-route-bookId="@Model.Id" asp-route-userId="@Model.UserId">
                                Approve
                            </a>
                        </div>
                        <div class="m-4 text-center">
                            <a class="btn btn-danger flex-shrink-0" asp-area="admin" asp-controller="Book" asp-action="Delete" asp-route-bookId="@Model.Id" >
                                Delete
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group">
                            <li class="list-group-item bookTitle">
                                @if (Model.Title.Length > 100)
                                {
                                    string title = Model.Title.Substring(0, 100) + "...";
                                    @title
                                }
                                else
                                {
                                    @Model.Title
                                }
                            </li>
                            @if (@Model.PublisherName != null)
                            {
                                <li class="list-group-item list-group-item-action">
                                    Publisher: @Model.PublisherName
                                </li>
                            }
                            <li class="list-group-item list-group-item-action">
                                Category: @Model.CategoryName
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Pages: @Model.PagesCount
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Language: @Model.Language
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Downloads: <span id="downloadsBookCount">@Model.DownloadsCount</span>
                            </li>

                            <li class="list-group-item list-group-item-action">
                                <dl>
                                    <dt>Authors:</dt>
                                    @foreach (var author in Model.Authors)
                                    {
                                        <dd>- @author</dd>
                                    }
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-secondary col-md-13 bookDescription">
        <h5 class="card-header">Book Description</h5>
        <div class="card-body">
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</section>