@model BookViewModel

@{
    this.ViewData["Title"] = $"{Model.Title}";
}

<div class="bookContainer">
    <img class="w-25 rounded-3" src=@Model.ImageUrl alt=@Model.Title />
    <ul class="list-group w-75 fs-5">
        <li class="list-group-item"><strong>@Model.Title</strong></li>
        @if (Model.PublisherName != null)
        {
            <li class="list-group-item">Publisher: @Model.PublisherName</li>
        }
        <li class="list-group-item">
            Category: @Model.CategoryName
        </li>
        <li class="list-group-item">Pages: @Model.PagesCount</li>
        <li class="list-group-item">Language: @Model.Language</li>
        <li class="list-group-item">Downloads: @Model.DownloadsCount</li>
        <li class="list-group-item">
            <span>Average Score: <span>@Model.RatingsAvg.ToString("f1")</span><span>/5</span><span>(Ratings count: <span>@Model.RatingsCount</span>)</span></span>
        </li>
        <li class="list-group-item">
            <dl>
                <dt>Authors:</dt>
                @foreach (var author in Model.Authors)
                {
                    <dd>- @author</dd>
                }
            </dl>
        </li>
    </ul>
</div>

<div class="card border-secondary">
    <h5 class="card-header">Book Description</h5>
    <div class="card-body">
        <p class="card-text">@Html.Raw(Model.SanitizedDescription)</p>
    </div>
</div>

@section Scripts{
    <script src="~/js/modal.js"></script>
}