@model IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

<section class="welcomeSection mt-5">
    <h1 class="text-center mb-5 animate__animated animate__jackInTheBox">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="card mb-5 col-8 d-flex justify-content-center mx-auto border-2">
        <div class="card-header fs-4">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote ">
                <p class="text-center">@Model.RandomQuote.Content</p>
                @if (Model.RandomQuote.AuthorName != null)
                {
                    <footer class="blockquote-footer text-end">
                        @Model.RandomQuote.AuthorName
                    </footer>
                }
                @if (Model.RandomQuote.BookTitle != null)
                {
                    <footer class="blockquote-footer text-end">
                        From the book: @Model.RandomQuote.BookTitle
                    </footer>
                }
                @if (Model.RandomQuote.MovieTitle != null)
                {
                    <footer class="blockquote-footer text-end">
                        From the movie: @Model.RandomQuote.MovieTitle
                    </footer>
                }
            </blockquote>
        </div>
    </div>
</section>

@if (this.User.Identity.IsAuthenticated)
{
    <section class="d-flex justify-content-evenly homeBtnsSection my-5">
        <div>
            <a asp-controller="Book" asp-action="Upload" class="btn button btn-lg animate__animated animate__heartBeat">
                Upload Book
            </a>
        </div>
        <div>
            <a asp-controller="Quote" asp-action="Add" class="btn button btn-lg animate__animated animate__heartBeat">
                Upload Quote
            </a>
        </div>
    </section>
}

@*<partial name="_RecentlyUploadedBooksPartial" />
<partial name="_MostDownloadedBooksPartial" />*@



