@model IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

<section class="animate__animated animate__zoomIn welcomeSection">
    <div class="col d-flex justify-content-center">
        <div id="textCard" class="card col-8 text-center">
            <div class="card-body">
                <h1 class="display-4">Welcome to @GlobalConstants.SystemName!<i class="fas fa-book"></i></h1>
            </div>
        </div>
    </div>
    <div class="card border-dark blockquote-card">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote text-center">
                <p class="quoteContent">@Model.RandomQuote.Content</p>
                @if (Model.RandomQuote.AuthorName != null)
                {
                    <footer class="blockquote-footer">
                        @Model.RandomQuote.AuthorName
                    </footer>
                }
                @if (Model.RandomQuote.BookTitle != null)
                {
                    <footer class="blockquote-footer">
                        From the book: @Model.RandomQuote.BookTitle
                    </footer>
                }
                @if (Model.RandomQuote.MovieTitle != null)
                {
                    <footer class="blockquote-footer">
                        From the movie: @Model.RandomQuote.MovieTitle
                    </footer>
                }
            </blockquote>
        </div>
    </div>
</section>

@if (this.User.Identity.IsAuthenticated)
{
    <section class="homeButtonsSection">
        <div class="row text-center">
            <div class="col-4">
                <a asp-controller="Book" asp-action="Upload" class="btn button btn-lg">
                    Upload Book<i class="fas fa-upload icon"></i>
                </a>
            </div>
            <div class="col-4">
                <a asp-controller="Quiz" asp-action="TakeQuiz" class="btn button btn-lg">
                    Take Quiz
                </a>
            </div>
            <div class="col-4">
                <a asp-controller="Quote" asp-action="Add" class="btn button btn-lg">
                    Upload Quote<i class="fas fa-upload icon"></i>
                </a>
            </div>
        </div>
    </section>
}

<partial name="_RecentlyUploadedBooksPartial" style="margin-top:20px" />
<partial name="_MostDownloadedBooksPartial" />



