@model QuoteListingViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    this.ViewData["Title"] = "All Quotes";
    this.ViewData["Count"] = Model.Quotes.Count;
    string requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

<partial name="PartialViews/_TitleCardPartial" />
<partial name="PartialViews/_QuotesTypeFilterPartial" />

<div class="input-group mb-3">
    <input type="text"
           class="form-control border-2 border-black fs-4"
           id="searchQuotesInput"
           placeholder="Search quotes..."
           aria-label="Recipient's username"
           aria-describedby="button-addon2">
    <button class="btn border border-2 border-black"
            type="button"
            id="searchQuotesBtn">
        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
    </button>
</div>

<div class="quotesContainer">
    @foreach (var quote in Model.Quotes)
    {
        <div class="card">
            <div class="card-header">
                Quote
                <span>
                    <i onclick="likeQuote(this, @quote.Id, @quote.IsUserQuoteCreator.ToString().ToLower())"
                       class="@(quote.IsLikedByUser ? "fa-solid" : "fa-regular")
                        @(quote.IsUserQuoteCreator == false ? "likeQuote" : "")
                        fa-thumbs-up">
                    </i>
                    <span class="quoteLikesCount">(@quote.Likes)</span>
                </span>
            </div>
            <div class="card-body">
                <blockquote class="blockquote ">
                    <p>@quote.Content</p>
                    @if (quote.AuthorName != null)
                    {
                        <footer class="blockquote-footer text-end">
                            @quote.AuthorName
                        </footer>
                    }
                    @if (quote.BookTitle != null)
                    {
                        <footer class="blockquote-footer text-end">
                            From the book: @quote.BookTitle
                        </footer>
                    }
                    @if (quote.MovieTitle != null)
                    {
                        <footer class="blockquote-footer text-end">
                            From the movie: @quote.MovieTitle
                        </footer>
                    }
                </blockquote>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/quotes/allQuotes.js"></script>
    <script src="~/js/quotes/likeQuote.js"></script>
}
