@model QuoteListingViewModel

@using Bookworm.Data.Models
@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@inject SignInManager<ApplicationUser> SignInManager

@{
    this.ViewData["Title"] = "All Quotes";
    this.ViewData["Count"] = Model.Quotes.Count;
    string requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

<partial name="PartialViews/_TitleCardPartial" />

@if (this.SignInManager.IsSignedIn(this.User))
{
    <partial name="PartialViews/_QuotesTypeFilterPartial" />
    <partial name="PartialViews/_QuotesSortingPartial" />
    <partial name="PartialViews/_QuotesSearchPartial" />
}

<div class="quotesContainer">
    @foreach (var quote in Model.Quotes)
    {
        <div class="card">
            <div class="card-header">
                Quote
                <span>
                    @if (this.SignInManager.IsSignedIn(this.User))
                    {
                        <i onclick="likeQuote(this, @quote.Id, @quote.IsUserQuoteCreator.ToString().ToLower())"
                           class="@(quote.IsLikedByUser ? "fa-solid" : "fa-regular")
                        @(quote.IsUserQuoteCreator == false && this.SignInManager.IsSignedIn(this.User) ? "likeQuote" : "")
                        fa-thumbs-up">
                        </i>
                    }
                    else
                    {
                        <i class="fa-regular fa-thumbs-up"></i>
                    }
                    <span class="quoteLikesCount">(@quote.Likes)</span>
                </span>
            </div>
            <div class="card-body">
                <blockquote class="blockquote ">
                    <p>@quote.Content</p>
                    @if (quote.AuthorName != null)
                    {
                        <footer class="blockquote-footer text-end">
                            @quote.AuthorName
                        </footer>
                    }
                    @if (quote.BookTitle != null)
                    {
                        <footer class="blockquote-footer text-end">
                            From the book: @quote.BookTitle
                        </footer>
                    }
                    @if (quote.MovieTitle != null)
                    {
                        <footer class="blockquote-footer text-end">
                            From the movie: @quote.MovieTitle
                        </footer>
                    }
                </blockquote>
            </div>
        </div>
    }
</div>

<partial name="PartialViews/_QuotesPagingPartial" model="@Model" />

@section Scripts {
    <script src="~/js/quotes/allQuotes.js"></script>
    <script src="~/js/quotes/likeQuote.js"></script>
}
