@model QuoteListingViewModel

@{
    this.ViewData["Title"] = "All Quotes";
    var titleCardModel = new TitleCardPartialViewModel { Title = "All Quotes", Count = Model.RecordsCount };
    var isUserAuthenticated = this.User.Identity.IsAuthenticated;
}

<partial name="PartialViews/_TitleCardPartial" model=titleCardModel />

@if (isUserAuthenticated)
{
    <partial name="PartialViews/Quotes/_QuotesButtonsPartial" />
}

<div class="quotesContainer">
    @foreach (var quote in Model.Quotes)
    {
        <div class="card">
            <div class="card-header">
                Quote
                <span>
                    @if (isUserAuthenticated)
                    {
                        <i onclick="likeQuote(this, @quote.Id, @quote.IsUserQuoteCreator.ToString().ToLower())"
                           class="@(quote.IsLikedByUser ? "fa-solid" : "fa-regular")
                        @(quote.IsUserQuoteCreator == false && isUserAuthenticated ? "likeQuote" : "")
                        fa-thumbs-up">
                        </i>
                    }
                    else
                    {
                        <i class="fa-regular fa-thumbs-up"></i>
                    }
                    <span class="quoteLikesCount">(@quote.Likes)</span>
                </span>
            </div>
            <div class="card-body">
                <blockquote class="blockquote ">
                    <p>@quote.Content</p>
                    @if (quote.AuthorName != null)
                    {
                        <footer class="blockquote-footer text-end">
                            @quote.AuthorName
                        </footer>
                    }
                    @if (quote.BookTitle != null)
                    {
                        <footer class="blockquote-footer text-end">
                            From the book: @quote.BookTitle
                        </footer>
                    }
                    @if (quote.MovieTitle != null)
                    {
                        <footer class="blockquote-footer text-end">
                            From the movie: @quote.MovieTitle
                        </footer>
                    }
                </blockquote>
            </div>
        </div>
    }
</div>

@if (Model.PagesCount > 1)
{
    <vc:pagination controller="Quote" action="All" is-for-books="@false" model="@Model"></vc:pagination>
}

@section Scripts {
    <script type="module" src="~/js/quotes/allQuotes.js"></script>
    <script src="~/js/quotes/likeQuote.js"></script>
}
