@model IEnumerable<QuoteViewModel>

@{
    ViewData["Title"] = "My Quotes";
}

<div class="col d-flex justify-content-center animate__animated animate__zoomIn">
    <div id="textCard" class="card col-4 text-center">
        <div class="card-body">
            <h1 class="display-8">@ViewData["Title"]</h1>
        </div>
    </div>
</div>

<div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>Content</th>
                <th class="text-center">Author</th>
                <th class="text-center">Movie</th>
                <th class="text-center">Book</th>
                <th class="text-center">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var quote in Model)
            {
                <tr>
                    <td>@quote.Content</td>
                    @if (@quote.AuthorName != null)
                    {
                        <td class="text-center">@quote.AuthorName</td>
                    }
                    else
                    {
                        <td class="text-center">―</td>
                    }
                    @if (@quote.MovieTitle != null)
                    {
                        <td class="text-center">@quote.MovieTitle</td>
                    }
                    else
                    {
                        <td class="text-center">―</td>
                    }
                    @if (@quote.BookTitle != null)
                    {
                        <td class="text-center">@quote.BookTitle</td>
                    }
                    else
                    {
                        <td class="text-center">―</td>
                    }
                    <td>
                        <a asp-area="" asp-action="Edit" asp-controller="Quote" asp-route-id="@quote.Id" class="btn">Edit Quote</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
