@model UserQuoteListingViewModel

@{
    this.ViewData["Title"] = "My Quotes";
    this.ViewData["Count"] = @Model.Quotes.Count;
    this.ViewData["IsUserQuotes"] = true;
    this.ViewData["PaginationControllerName"] = "Quote";
    this.ViewData["PaginationActionName"] = "UserQuotes";
}

<partial name="PartialViews/_TitleCardPartial" />

@if (Model.Quotes.Count() == 0)
{
    <h3 class="text-center mt-5 display-3">You haven't uploaded any quotes!</h3>
}
else
{
    <partial name="PartialViews/Quotes/_QuotesStatusFilterPartial" />
    <partial name="PartialViews/Quotes/_QuotesTypeFilterPartial" />
    <partial name="PartialViews/Quotes/_QuotesSortingPartial" />
    <partial name="PartialViews/Quotes/_QuotesSearchPartial" />

    <div class="table-responsive my-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center align-middle" scope="col">Content</th>
                    <th class="text-center align-middle" scope="col">Author</th>
                    <th class="text-center align-middle" scope="col">Movie</th>
                    <th class="text-center align-middle" scope="col">Book</th>
                    <th class="text-center align-middle" scope="col">Likes</th>
                    <th class="text-center align-middle" scope="col">Is Approved</th>
                    <th class="text-center align-middle" scope="col">Edit</th>
                    <th class="text-center align-middle" scope="col">Delete</th>
                </tr>
            </thead>
            <tbody class="table-body">
                @for (int i = 0; i <= Model.Quotes.Count() - 1; i++)
                {
                    <tr>
                        <td class="align-middle">@Model.Quotes[i].Content</td>
                        @if (@Model.Quotes[i].AuthorName != null)
                        {
                            <td class="text-center align-middle">@Model.Quotes[i].AuthorName</td>
                        }
                        else
                        {
                            <td class="text-center align-middle"><i class="fa-solid fa-minus fa-xl"></i></td>
                        }
                        @if (@Model.Quotes[i].MovieTitle != null)
                        {
                            <td class="text-center align-middle">@Model.Quotes[i].MovieTitle</td>
                        }
                        else
                        {
                            <td class="text-center align-middle"><i class="fa-solid fa-minus fa-xl"></i></td>
                        }
                        @if (@Model.Quotes[i].BookTitle != null)
                        {
                            <td class="text-center align-middle">@Model.Quotes[i].BookTitle</td>
                        }
                        else
                        {
                            <td class="text-center align-middle"><i class="fa-solid fa-minus fa-xl"></i></td>
                        }
                        <td class="text-center align-middle">@Model.Quotes[i].Likes</td>
                        <td class="text-center align-middle">
                            @if (Model.Quotes[i].IsApproved)
                            {
                                <i class="fa-solid fa-circle-check fa-xl checkIcon"></i>
                            }
                            else
                            {
                                <i class="fa-regular fa-circle-xmark fa-xl x-icon"></i>
                            }
                        </td>
                        <td class="text-center align-middle">
                            <a asp-area=""
                               asp-controller="Quote"
                               asp-action="Edit"
                               asp-route-id="@Model.Quotes[i].Id"
                               class="btn btn-outline-warning">
                                <i class="fa-solid fa-pen-to-square fa-xl"></i>
                            </a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-outline-danger modalBtn"
                               data-model-id="@Model.Quotes[i].Id"
                               data-bs-toggle="modal"
                               data-bs-target="#deleteQuoteModal">
                                <i class="fa-solid fa-trash-can fa-xl"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<partial name="PartialViews/_PaginationPartial"/>
<partial name="PartialViews/Modals/_DeleteQuoteModalPartial" />

@section Scripts {
    <script src="~/js/modal.js"></script>
    <script type="module" src="~/js/quotes/allQuotes.js"></script>
}