@model UserQuotesViewModel

@{
    ViewData["Title"] = "My Quotes";
    var quotes = Model.Quotes.ToList();
}

<div class="d-flex justify-content-center mt-5">
    <div class="card text-center title-card animate__animated animate__jackInTheBox">
        <div class="card-body">
            <blockquote class="blockquote">
                <h2 class="mb-4">@ViewData["Title"]</h2>
                <footer class="blockquote-footer">Approved Quotes: @Model.ApprovedQuotesCount</footer>
                <footer class="blockquote-footer">Unapproved Quotes: @Model.UnapprovedQuotesCount</footer>
            </blockquote>
        </div>
    </div>
</div>


@*<input class="btn btn-outline-info unapprovedQuotesBtn" type='button' value='Show Unapproved Quotes' />*@

<div class="table-responsive my-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Content</th>
                <th class="text-center" scope="col">Author</th>
                <th class="text-center" scope="col">Movie</th>
                <th class="text-center" scope="col">Book</th>
                <th class="text-center" scope="col">IsApproved</th>
                <th class="text-center" scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= quotes.Count - 1; i++)
            {
                <tr>
                    <th class="align-middle" scope="row">@i</th>
                    <td class="align-middle">@quotes[i].Content</td>
                    @if (@quotes[i].AuthorName != null)
                    {
                        <td class="text-center align-middle">@quotes[i].AuthorName</td>
                    }
                    else
                    {
                        <td class="text-center align-middle">—</td>
                    }
                    @if (@quotes[i].MovieTitle != null)
                    {
                        <td class="text-center align-middle">@quotes[i].MovieTitle</td>
                    }
                    else
                    {
                        <td class="text-center align-middle">—</td>
                    }
                    @if (@quotes[i].BookTitle != null)
                    {
                        <td class="text-center align-middle">@quotes[i].BookTitle</td>
                    }
                    else
                    {
                        <td class="text-center align-middle">—</td>
                    }
                    <td class="text-center align-middle">@(quotes[i].IsApproved ? "Yes" : "No")</td>
                    <td class="text-center align-middle">
                        <a asp-area="" asp-action="Edit" asp-controller="Quote" asp-route-id="@quotes[i].Id" class="btn btn-warning">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $('.unapprovedQuotesBtn').click(function () {
            $('td:contains("Yes")').parent().toggle();
        });
    </script>
}
