@model UserQuotesViewModel

@{
    ViewData["Title"] = "My Quotes";
}

<div class="d-flex justify-content-center mt-5">
    <div class="card text-center title-card animate__animated animate__jackInTheBox">
        <div class="card-body">
            <blockquote class="blockquote">
                <h2 class="mb-4">@ViewData["Title"]</h2>
                <footer class="blockquote-footer">Approved Quotes: @Model.ApprovedQuotesCount</footer>
                <footer class="blockquote-footer">Unapproved Quotes: @Model.UnapprovedQuotesCount</footer>
            </blockquote>
        </div>
    </div>
</div>


@if (Model.Quotes.Count() == 0)
{
    <h3 class="text-center mt-5 display-3">You haven't uploaded any quotes!</h3>
}
else
{
    <div class="my-3 d-flex align-items-center">
        <div class="d-flex align-items-center mb-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" onclick="approvedQuotes()">
            <label class="form-check-label fs-5 ms-2" for="flexRadioDefault1">
                Show Approved Quotes
            </label>
        </div>
        <div class="d-flex align-items-center ms-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" onclick="unapprovedQuotes()">
            <label class="form-check-label fs-5 ms-2" for="flexRadioDefault2">
                Show Unapproved Quotes
            </label>
        </div>
    </div>



    <div class="table-responsive my-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center align-middle" scope="col">#</th>
                    <th class="text-center align-middle" scope="col">Content</th>
                    <th class="text-center align-middle" scope="col">Author</th>
                    <th class="text-center align-middle" scope="col">Movie</th>
                    <th class="text-center align-middle" scope="col">Book</th>
                    <th class="text-center align-middle" scope="col">Is Approved</th>
                    <th class="text-center align-middle" scope="col">Edit</th>
                </tr>
            </thead>
            <tbody class="table-body">
                @for (int i = 0; i <= Model.Quotes.Count() - 1; i++)
                {
                    <tr>
                        <th class="text-center align-middle" scope="row">@(i + 1)</th>
                        <td class="align-middle">@Model.Quotes[i].Content</td>
                        @if (@Model.Quotes[i].AuthorName != null)
                        {
                            <td class="text-center align-middle">@Model.Quotes[i].AuthorName</td>
                        }
                        else
                        {
                            <td class="text-center align-middle"><i class="fa-regular fa-circle-xmark fa-xl x-icon"></i></td>
                        }
                        @if (@Model.Quotes[i].MovieTitle != null)
                        {
                            <td class="text-center align-middle">@Model.Quotes[i].MovieTitle</td>
                        }
                        else
                        {
                            <td class="text-center align-middle"><i class="fa-regular fa-circle-xmark fa-xl x-icon"></i></td>
                        }
                        @if (@Model.Quotes[i].BookTitle != null)
                        {
                            <td class="text-center align-middle">@Model.Quotes[i].BookTitle</td>
                        }
                        else
                        {
                            <td class="text-center align-middle"><i class="fa-regular fa-circle-xmark fa-xl x-icon"></i></td>
                        }
                        <td class="text-center align-middle">
                            @if (Model.Quotes[i].IsApproved)
                            {
                                <i class="fa-solid fa-thumbs-up fa-xl"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-thumbs-down fa-xl"></i>
                            }
                        </td>
                        <td class="text-center align-middle">
                            <a asp-area="" asp-action="Edit" asp-controller="Quote" asp-route-id="@Model.Quotes[i].Id" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@section Scripts{
    <script src="~/js/updateQuotesTable.js" charset="UTF-8"></script>
}
